@model SekisanTeam.Models.T_SEKISAN_DATA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>T_SEKISAN_DATA</legend>

    <div class="display-label">T_CLIENT</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_CLIENT.CODE)
    </div>

    <div class="display-label">CODE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODE)
    </div>

    <div class="display-label">NAME</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAME)
    </div>

    <div class="display-label">CODE_TASK</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODE_TASK)
    </div>

    <div class="display-label">NAME_TASK</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAME_TASK)
    </div>

    <div class="display-label">HOUR</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOUR)
    </div>

    <div class="display-label">T_MASTER_RATE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_MASTER_RATE.CODE)
    </div>

    <div class="display-label">KINGAKU</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KINGAKU)
    </div>

    <div class="display-label">T_MASTER_DIFFICULT</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_MASTER_DIFFICULT.CODE)
    </div>

    <div class="display-label">MEMO1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEMO1)
    </div>

    <div class="display-label">MEMO2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MEMO2)
    </div>

    <div class="display-label">ID_MEMBER</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_MEMBER)
    </div>

    <div class="display-label">IS_KAKUTEI</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_KAKUTEI)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
